# Lesson 1.2: Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics
**Question 1:** Write a Python program to check if a number is positive, negative, or zero.

In [3]:
num = float(input("Enter a Number: "))

if num>0:
    print("The number is positive")
elif num<0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a Number:  3

The number is positive

**Question 2:** Write a Python program to find the largest of three numbers.

In [6]:
num1 = float(input("Enter first num"))
num2 = float(input("Enter second num"))
num3 = float(input("Enter third num"))

if (num1>num2) and (num1>num3):
    largest = num1
elif (num2>num3) and (num2>num1):
    largest = num2
else :
    largest = num3
print(f"Largest of three numbers: {largest}")

Enter first num 34
Enter second num 6
Enter third num 57

Largest of three numbers: 57.0

**Question 3:** Write a Python program to calculate the factorial of a number.

In [11]:
def factorial(num):
    if num==0 or num==1:
        return num
    else:
        return num*factorial(num-1)

num = int(input("Enter a number"))
print(f"Factorial of {num}: {factorial(num)}")

Enter a number 4

Factorial of 4: 24

## 2. Variables and Data Types

**Question 4:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [25]:
int_var = 9
float_var= 3.5
string_var= "Nishu"
boolean_var= True

print(f"Interger val: {int_var}; Type: {type(int_var)}")
print(f"Float val: {float_var}; Type: {type(float_var)}")
print(f"String val: {string_var}; Type: {type(string_var)}")
print(f"Boolean val: {boolean_var}; Type: {type(boolean_var)}")

Interger val: 9; Type: <class 'int'>
Float val: 3.5; Type: <class 'float'>
String val: Nishu; Type: <class 'str'>
Boolean val: True; Type: <class 'bool'>

**Question 5:** Write a Python program to swap the values of two variables.

In [32]:
var1 = 10
var2 = 99

print(f"Before swap: var1- {var1}; var2- {var2}")

# Swapping 
var1,var2 = var2,var1

print(f"After swap: var1- {var1}; var2- {var2}")

Before swap: var1- 10; var2- 99
After swap: var1- 99; var2- 10

**Question 6:** Write a Python program to convert Celsius to Fahrenheit.

In [44]:
def cels_To_Fahre(c):
    fahre = ((9/5)*c)+32
    return fahre

cel = float(input("Enter the celsius temp"))

print(f"Celcius to Fahrenheit convert: {cels_To_Fahre(cel)}")

Enter the celsius temp 55

Celcius to Fahrenheit convert: 131.0

**Question 7:** Write a Python program to concatenate two strings.

In [52]:
sub1 = "Basic of"
sub2= "python"

concate= sub1+" "+sub2

print(concate)

Basic of python

**Question 8:** Write a Python program to check if a variable is of a specific data type.

In [57]:
x= 33

if isinstance(x,int):
    print("x is int")
    
y = 20.55
if isinstance(y,float):
    print("y is float")

x is int
y is float

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 9:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [61]:
a=10
b=2

print(f"Addition: a+b= {a+b}")
print(f"Subtraction: a-b= {a-b}")
print(f"Multiplication: a*b= {a*b}")
print(f"Division: a/b= {a/b}")

Addition: a+b= 12
Subtraction: a-b= 8
Multiplication: a*b= 20
Division: a/b= 5.0

**Question 10:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [66]:
a=10
b=2

print(f"{a}=={b} : {a==b}")
print(f"{a}!={b} : {a!=b}")
print(f"{a}>{b} : {a>b}")
print(f"{a}<{b} : {a<b}")

10==2 : False
10!=2 : True
10>2 : True
10<2 : False

**Question 11:** Write a Python program to demonstrate logical operators: and, or, not.

In [73]:
a= True
b= False

print(f"True and False: {a and b}")
print(f"True or False: {a or b}")
print(f"not False: { not b}")

True and False: False
True or False: True
not False: True

**Question 12:** Write a Python program to calculate the square of a number.

In [84]:
n = float(input("Enter a number: "))

print(f"Square of {n}: {n**2}")

Enter a number:  5

Square of 5.0: 25.0

**Question 13:** Write a Python program to check if a number is even or odd.

In [87]:
n = int(input("Enter a number: "))

if n%2 == 0:
    print(f"{n} is Even")
else:
    print(f"{n} is Odd")

Enter a number:  4

4.0 is Even

**Question 14:** Write a Python program to find the sum of the first n natural numbers.

In [92]:
n = int(input("Enter a number: "))

sum_n = (n*(n+1))//2

print(f"The sum of first {n} natural number is {sum_n}")

Enter a number:  3

The sum of first 3 natural number is 6

**Question 15:** Write a Python program to check if a year is a leap year.

In [99]:
year = int(input("Enter a year: "))

if (year%4 ==0 and year%100 != 0) or (year%400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year:  2004

2004 is a leap year

# String slicing

In [155]:
''' sequence[start : stop : step]
start = beginning (include)
stop = end (exclude index)
step = -1 '''
s = "The Univers"

print(s[3:11:1])
print(s[1:11:1])
print(s[0:11:1])
print(s[0:11:2])
print(s[10::-1]) # reverse
print(s[::-1]) # reverse

 Univers
he Univers
The Univers
TeUies
srevinU ehT
srevinU ehT

**Question 16:** Write a Python program to reverse a string.

### 16.1 For loop

In [164]:
r = ""

for i in s:
    r= i + r

print(r)

esrevinu ehT

### 16.2 string slice

In [174]:
s = "The universe"

print(s[: :-1])

esrevinu ehT

**Question 17:** Write a Python program to check if a string is a palindrome.

In [182]:
s = input("Enter the string: ")

if s == s[::-1]:
    print(f"{s} is palindrome")
else:
    print(f"{s} is not palindrome")

Enter the string:  hehe

hehe is not palindrome

**Question 18:** Write a Python program to sort a list of numbers in ascending order.

In [13]:
nums_list = [int(i) for i in input("Enter numbers seperated by space: ").split()]
nums_list.sort()
print(f"Sorted list:{nums_list}")

Enter numbers seperated by space:  6 33 12 67 13 389 8

Sorted list:[6, 8, 12, 13, 33, 67, 389]

### NOTE CODE 18: 
**[int(i) for i in input("Enter numbers seperated by space: ").split()] :**
- input("Enter numbers seperated by space: ")— shows the message; takes input as one string e.g "10 5 8 1"
- .split() — Splits the string at spaces "10 5 8 1".split() => ['10', '5', '8', '1'] ⚠️ These are strings, not numbers.
- for x in ... — for x in ['10', '5', '8', '1']
This loop goes one by one:
x = '10'
x = '5'
x = '8'
x = '1'
- int(x) — Converts strings into integers
int('10') → 10
int('5')  → 5
int('8')  → 8
int('1')  → 1