# The Map Function in Python

The Map() function applies a given function to all  item in an input list (or any other iterable) and return a map object(an iterator). This is particularly useful for transforming data in list comprehensively
-  **Syntax:** map(**function, iterable**)

In [4]:
def square(x):
    return x**2

square(5)

25

In [8]:
nums = [1,2,3,4,5]
list(map(square,nums))

[1, 4, 9, 16, 25]

## Lambda function with map

In [11]:
list(map(lambda x:x**2,nums))

[1, 4, 9, 16, 25]

## Map multiple iterables

In [16]:
nums1 = [1,2,3]
nums2 =[4,5,6]

add_nums = list(map(lambda x,y:x+y,nums1,nums2))
print(add_nums)

[5, 7, 9]

## map() to convert strings to integers

**int() ONLY converts:**
- âœ” numeric strings ['1','2','3']
- âŒ alphabetic characters ['a','b''c']

In [59]:
string_num = ['1','2','3','1004']

nums = list(map(int,string_num))
print(nums)

[1, 2, 3, 1004]

## map() to convert char to integers
**ord()**
- is used to convert from char to integers
- e.g:- ord('a') ans= 97

In [68]:
char_num = ['a','b','c']
ascii_nums = list(map(ord,char_num))
print(ascii_nums)

[97, 98, 99]

## map() to convert integers to char

In [73]:
int_num = [97,98,99]

nums = list(map(chr,int_num))
print(nums)

['a', 'b', 'c']

## Uppercase to Words

In [82]:
words = ["Python", "Ai", "Machine Learning"]
upper_words = list(map(str.upper,words))
print(upper_words)

['PYTHON', 'AI', 'MACHINE LEARNING']

## Map with dictionary

In [101]:
def get_name(people):
    return people['name']

people = [
    {'name':'Nishu','age':22},
    {'name':'Avi','age':24},
    {'name':"Tina",'age':30}
     ]
    
list(map(get_name,people))

['Nishu', 'Avi', 'Tina']

## Map with filter():
- First â†’ use filter() to select elements
- Then â†’ use map() to transform those selected elements
- ðŸ‘‰ filter decides WHO stays
- ðŸ‘‰ map decides WHAT to take
- Syntax: **map(function, filter(condition, iterable))**

In [18]:
nums = [1,2,3,4,5,6,7,8,9,10]

result_Even = list(map(lambda x:x**2,filter(lambda x: x%2==0,nums)))
result_Odd = list(map(lambda x:x**2,filter(lambda x:x%2 != 0,nums)))
print(result_Even)
print(result_Odd)

[4, 16, 36, 64, 100]
[1, 9, 25, 49, 81]

## Map With multiple conditions

In [27]:
people = [
    {'name':'Nishu','age':22},
    {'name':'Avi','age':24},
    {'name':'Tina','age':30},
    {'name':'Tom','age':28}
]

names = list(map(lambda p: p['name'],filter(lambda p:p['age']>25 and p['name'].startswith('T'),people))) 
print(names)

['Tina', 'Tom']

## Conclusion

The map() function is a powerful tool for applying transformation to iterable data structures.It can be used with regular functions, lambda functions, even multiple iterables, providing a versatile approach to data processing in Python. By understanding and utilizing map(), you can write more efficient and readable code.