## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [32]:
lst = list(range(0,21))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [35]:
print(f"Print first element {lst[0]}")
print(f"Print middle element {lst[len(lst)//2]}")
print(f"Print last element {lst[-1]}")

Print first element 0
Print middle element 10
Print last element 20

### Note assg 2 üü¢
len(lst)//2 , here **"//"** is used to round down the value to avoid the decimal value

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [39]:
print(f" Print first five: {lst[:5]}")
print(f" Print last five: {lst[-5:]}")
print(f" Print 5 to 15: {lst[5:16]}")

 Print first five: [0, 1, 2, 3, 4]
 Print last five: [16, 17, 18, 19, 20]
 Print 5 to 15: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [42]:
sqr_list = [ i**i for i in range(1,11) ]
print(sqr_list)

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [45]:
even_list = [i for i in lst if i%2 == 0]
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [48]:
import random

rand_list = [random.randint(1,20) for _ in range(15)]  #create rand num list
print(f"Original List: {rand_list}")  #print rand_list

asc_Sort = sorted(rand_list)  # sort asc
print(f"Sort list in asc order:{asc_Sort}")

dsc_Sort = sorted(rand_list, reverse=True) # sort desc 
print(f"Sort list in desc order:{dsc_Sort}")

rm_dup_list = list(set(rand_list))
print(f"Remove duplicate from list: {rm_dup_list}")

Original List: [14, 3, 13, 18, 14, 8, 13, 1, 2, 20, 12, 4, 19, 11, 9]
Sort list in asc order:[1, 2, 3, 4, 8, 9, 11, 12, 13, 13, 14, 14, 18, 19, 20]
Sort list in desc order:[20, 19, 18, 14, 14, 13, 13, 12, 11, 9, 8, 4, 3, 2, 1]
Remove duplicate from list: [1, 2, 3, 4, 8, 9, 11, 12, 13, 14, 18, 19, 20]

### NOTE Assg 6: üü¢
rand_list = [random.randint(1,20) **for _ in range(15)**]  #create rand num list

**Case 1: Variable NOT used ‚Üí _ or variable both work**
- You can use a variable name OR _
- ONLY when the loop variable is NOT used anywhere inside the loop
``` 
  for _ in range(5):
    print("Hello")
``` 
**OR**
``` 
  for i in range(5):
    print("Hello")
``` 
- BOTH RIGHT ‚òùÔ∏è

**Case 2: Variable IS used ‚Üí _ is NOT allowed**

``` 
for i in range(5):
    print(i) 
```
- right ‚òùÔ∏è

```
for _ in range(5):
    print(_)   # bad practice, confusing
```
- wrong ‚òùÔ∏è

### set() automatically removes duplicates

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [52]:
matrix_list = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

for i in matrix_list:
    print(i)
print(f"Print elemenet at sec row and third col: {matrix_list[1][2]}")

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Print elemenet at sec row and third col: 6

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [55]:
students = [
    {'name': 'Nishu', 'score':99},
    {'name': 'Bob', 'score':68},
    {'name': 'Avi', 'score':77},
    {'name': 'Eve', 'score':82},
    {'name': 'Tina', 'score':98}
]

sort_student = sorted(students, key= lambda x: x["score"], reverse = True)
print(f"Sorted students list by score: {sort_student}")

Sorted students list by score: [{'name': 'Nishu', 'score': 99}, {'name': 'Tina', 'score': 98}, {'name': 'Eve', 'score': 82}, {'name': 'Avi', 'score': 77}, {'name': 'Bob', 'score': 68}]

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [72]:
def transpose_matrix(matrix):
    transpose = []

    for i in range(3):
        row = []
        for j in range(3):
            row.append(matrix[j][i])
        transpose.append(row)

    return transpose

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
    
transposed = transpose_matrix(matrix)
print("Original matrix: ")
for row in matrix:
    print(row)
print("Transposed maatrix: ")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed maatrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [9]:
def to_flatten(nst_list):
    flat_list = []
    for i in nst_list:
        for j in nst_list:
            flat_list.append(j)
    return flat_list
            
        
nested_list = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

x = to_flatten(nested_list)
print("Flatten list: ",x)

Flatten list:  [[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [26]:
lst = list(range(1,11))
print("Original List: ", lst)
del lst[2]
del lst[4]
del lst[6]

lst.insert(5,99)
print("Modified list: ",lst)

Original List:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list:  [1, 2, 4, 5, 7, 99, 8, 10]

In [16]:
lst = [1,2,3,4,5,6,7,8,9,10]
del lst[2]
print(lst)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [23]:
import random
lst1 = [random.randint(1,10) for _ in range(5)]
lst2 = [random.randint(1,20) for _ in range(5)]

print("list1: ",lst1)
print("list2: ",lst2)

zipped= list(zip(lst1,lst2))
print("Zipping: ",zipped)

list1:  [4, 9, 8, 4, 3]
list2:  [18, 8, 17, 14, 11]
Zipping:  [(4, 18), (9, 8), (8, 17), (4, 14), (3, 11)]

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists

In [28]:
def reverse_list(lst):
    return lst[::-1]

original_lst = [1,2,3,4,5]
rev_list= reverse_list(original_lst)
print(f"Original list: {original_lst}")
print(f"Reverse list: {rev_list}")

Original list: [1, 2, 3, 4, 5]
Reverse list: [5, 4, 3, 2, 1]

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [47]:
def reverse_n_pos(lst,n):
    return lst[n:] + lst[:n]
    
lst= [1,2,3,4,5]
a = reverse_n_pos(lst,3)
print(f"Original list: {lst}")
print(f"Rotated list: {a}")

Original list: [1, 2, 3, 4, 5]
Rotated list: [4, 5, 1, 2, 3]

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [54]:
def common_ele(lst1,lst2):
    return [x for x in lst1 if x in lst2]

lst1 = [1,2,3,4,5]
lst2 = [1,5,6,3,8]

intersection = common_ele(lst1,lst2)
print(f"List 1: {lst1}")
print(f"List 2: {lst2}")
print(f"Intersection: {intersection}")

List 1: [1, 2, 3, 4, 5]
List 2: [1, 5, 6, 3, 8]
Intersection: [1, 3, 5]