# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [4]:
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## NOTE:

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [7]:
print(f"First element: {tpl[0]}")
print(f"Middle element: {tpl[len(tpl)//2]}")
print(f"Last element: {tpl[-1]}")

First element: 1
Middle element: 6
Last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [10]:
print(f"First 3 element: {tpl[:3]}")
print(f"Last 3 element: {tpl[:-3]}")
print(f"Element from 2 to 5: {tpl[2:6]}")

First 3 element: (1, 2, 3)
Last 3 element: (1, 2, 3, 4, 5, 6, 7)
Element from 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [13]:
nested_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Nested tuple matrix:")

for i in nested_tuple:
    print(i)
print(f"Element at second row and third column, {nested_tuple[1][2]}")

Nested tuple matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column, 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [18]:
tp1 = (1,2,3)
tp2 = (4,5,6)

print("Tuple concatenate: ",tp1+tp2)

Tuple concatenate:  (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [26]:
dup_tuple = (1,3,2,5,3,4,9,3,3)
print(f"Occurence of 3", {dup_tuple.count(3)})
print(f"First index of 3", {dup_tuple.index(3)})

Occurence of 3 {4}
First index of 3 {1}

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [39]:
tup= (10,20,30,40,50)

a,b,c,d,e = tup
print("a:",a,"b:",b,"c:",c,"d:",d,"e:",e)

a: 10 b: 20 c: 30 d: 40 e: 50

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [44]:
lst = [1,2,3,4,5,6]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [53]:
tpl_of_tuples = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tpl_of_tuples)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [143]:

tup = (1,2,3,4,5)
lst = list(tup)
print("list: ",lst)

lst.append(6)
tpl = tuple(lst)
print("Tuple: ",tpl)

list:  [1, 2, 3, 4, 5]
Tuple:  (1, 2, 3, 4, 5, 6)

## NOTE Immutability of tuples
Immutability means once a tuple is created, its contents cannot be changed.
In Python, tuples are immutable, unlike lists which are mutable.

**After creating a tuple, you cannot:**
- Change an element
- Add new elements (no append , no insert)
- Remove existing elements

Since tuples are immutable, you cannot change them directly.
But if you still want to “modify” a tuple, you can do it indirectly using these methods:-
- Convert tuple into a list
- Make changes in the list
- Convert the list back into a tuple

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [77]:
str = "Python"
tup = tuple(str)
print("tuple: ",tup)

joined_Str = ''.join(tup)
print("Joined_Str: ",joined_Str)

tuple:  ('P', 'y', 't', 'h', 'o', 'n')
Joined_Str:  Python

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [103]:
dic = {
    ('row','col'): 5,
    (1,2):999,
    (a,b): 000,
    ('p','q'): 89
}
print("dictionary: ", dic)

dictionary:  {('row', 'col'): 5, (1, 2): 999, (10, 20): 0, ('p', 'q'): 89}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [112]:
nested_tup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for i in nested_tup:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [115]:
tup = (1,2,3,1,3,4,1,2)
unique_set = set(tup)

print("Tuple: ",tup)
print("Unique Set: ",unique_set)

Tuple:  (1, 2, 3, 1, 3, 4, 1, 2)
Unique Set:  {1, 2, 3, 4}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [140]:
tup = (1,2,3,4,5,100)

def find_min(tup):
    return min(tup)
    
def find_max(tup):
    return max(tup)
    
def find_sum(tup):
    return sum(tup)

print("Minimum element: ",find_min(tup))
print("Maximum element: ",find_max(tup))
print("Sum of  element: ",find_sum(tup))

Minimum element:  1
Maximum element:  100
Sum of  element:  115

In [148]:
tpl = (1,4,6,2,60,2,0,55,2)

print("Orginal tuple: ",tpl)
print("Sorted tuple: ",sorted(tpl))
print("Length of tuple: ", len(tpl))
print("Occurence of 2: ",tpl.count(2))
print("Index of 6: ",tpl.index(6))

Orginal tuple:  (1, 4, 6, 2, 60, 2, 0, 55, 2)
Sorted tuple:  [0, 1, 2, 2, 2, 4, 6, 55, 60]
Length of tuple:  9
Occurence of 2:  3
Index of 6:  2